body {
    background-color: #CDCDCD;
    font-family: 'Open Sans Condensed'
}

.chat-container-main {
    width: 600px;
    padding: 10px;
    margin: 0 auto 0 auto;
}

.chat-box-container {
    background-color: #fff;
    width: 580px;
    float: left;
}

/* chat send box ------------*/

.chat-send-box {
    margin-top: 50px;
    height: 80px;
    position: relative;
}

.icon-octo {
    background: url('../img/octo-icon.png');
    width: 60px;
    height: 60px;
    top: 10px;
    left: 5px;
    display: block;
    position: absolute;
}

.txt-chat {
    width: 380px;
    height: 40px;
    top: 17px;
    left: 75px;
    display: block;
    position: absolute;
    font-size: 14px;
    padding-left: 5px;
}

.btn-send {
    width: 100px;
    height: 40px;
    background-color: #FAB846;
    border: 1px solid #FAB846;
    top: 20px;
    right: 10px;
    position: absolute;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
}

/* chat msg box ----------------*/

.chat-msg-box {
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
}

.refresh-box {
    width: 100%;
    float: left;
    margin: 0;
}

.btn-refresh {
    width: 100px;
    height: 40px;
    background-color: #CDCDCD;
    border: 1px solid #CDCDCD;
    font-size: 14px;
    font-weight: 700;
    float: right;
    cursor: pointer;
    display: inline-block;
}

.chat-msg-list {
    list-style: none;
    padding: 0;
    float: left;
    width: 100%;
}

/* chat msg items -------------------- */

.chat-msg-list li {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    min-height: 60px;
    float: left;
    background-color: #CDCDCD;
    box-sizing: border-box;
}

.user-icon {
    width: 75px;
    height: 75px;
    float: left;
}

.msg-detail {
    width: 460px;
    float: left;
    padding-left: 15px;
    box-sizing: border-box;
}

.user-name {
    font-size: 18px;
    font-weight: 700;
    float: left;
}

.send-time {
    font-size: 11px;
    float: right;
}

.msg {
    margin-top: 10px;
    float: left;
    font-size: 14px;
    width: 100%;
}










